<!DOCTYPE html>
<html lang="cn">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<title>{{ st.Title }}</title>
<meta name="keywords" content="{{ st.Keywords }}">
<link rel="stylesheet" href="/static/fontawesome-5.5/css/all.min.css" />
<link rel="stylesheet" href="/static/slick/slick.css">
<link rel="stylesheet" href="/static/slick/slick-theme.css">
<link rel="stylesheet" href="/static/magnific-popup/magnific-popup.css">
<link rel="stylesheet" href="/static/css/bootstrap.min.css" />
<link rel="stylesheet" href="/static/css/tooplate-infinite-loop.css" />
</head>
<body>    
<!-- Hero section -->
<section id="infinite" class="text-white tm-font-big tm-parallax">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-md tm-navbar scroll" id="tmNav">              
	<div class="container">   
	  <div class="tm-next">
		  <a href="#infinite" class="navbar-brand">WCTU</a>
	  </div>             
		
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<i class="fas fa-bars navbar-toggler-icon"></i>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav ml-auto">
		  <li class="nav-item">
			  <a class="nav-link tm-nav-link" href="/">首页</a>
		  </li>
		  <li class="nav-item">
			  <a class="nav-link tm-nav-link" href="/docs">API文档</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link tm-nav-link" href="/runtest">功能测试</a>
		  </li>
		  <li class="nav-item">
			  <a class="nav-link tm-nav-link" href="/join">加入我们</a>
		  </li>
		  <li class="nav-item">
			  <a class="nav-link tm-nav-link" href="/diy-api">接口定制</a>
		  </li>                    
		</ul>
	  </div>        
	</div>
  </nav>
  
  <div class="text-center tm-hero-text-container">
	<div class="tm-hero-text-container-inner">
		<h2 class="tm-hero-title">WCTU</h2>
		<p class="tm-hero-subtitle">
		  及时API服务
		  <br>永久免费不限次数调用
		</p>
	</div>        
  </div>

  <div class="tm-next tm-intro-next">
	<a href="#whatwedo" class="text-center tm-down-arrow-link">
	  <i class="fas fa-2x fa-arrow-down tm-down-arrow"></i>
	</a>
  </div>      
</section>

<section id="whatwedo" class="tm-section-pad-top">
  
  <div class="container">
		
		<div class="row tm-content-box"><!-- second row -->
			<div class="col-lg-1">
				<i class="far fa-3x fa-chart-bar text-center tm-icon"></i>
			</div>
			<div class="col-lg-5">
				<div class="tm-intro-text-container">
					<h2 class="tm-text-primary mb-4">调用统计</h2>
					<p class="mb-4 tm-intro-text">
					  方便您查看每日调用的情况，并且记录错误调用记录。</p>
				</div>
			</div>
			
			<div class="col-lg-1">
				<i class="far fa-3x fa-comment-alt text-center tm-icon"></i>
			</div>
			<div class="col-lg-5">
				<div class="tm-intro-text-container">
					<h2 class="tm-text-primary mb-4">及时响应</h2>
					<p class="mb-4 tm-intro-text">
					  在请求API时服务器响应时间不高于0.1S。</p>
				</div>
			</div>

		</div><!-- second row -->
		
		<div class="row tm-content-box"><!-- third row -->
			<div class="col-lg-1">
				<i class="fas fa-3x fa-fingerprint text-center tm-icon"></i>
			</div>
			<div class="col-lg-5">
				<div class="tm-intro-text-container">
					<h2 class="tm-text-primary mb-4">服务器安全</h2>
					<p class="mb-4 tm-intro-text">
				  我们采用<strong>阿里云高防服务器</strong>可承受20G的DDOS攻击。<strong></strong></p>
					  
					  <div class="tm-continue">
						<a href="https://promotion.aliyun.com/ntms/yunparter/invite.html?userCode=iw7t0npw" target="_blank" class="tm-intro-text tm-btn-primary">了解更多</a>
					</div>
				</div>
			</div>
			
			<div class="col-lg-1">
				<i class="fas fa-3x fa-users text-center tm-icon"></i>
			</div>
			<div class="col-lg-5">
				<div class="tm-intro-text-container">
				  <h2 class="tm-text-primary mb-4">加入我们</h2>
					<p class="mb-4 tm-intro-text">
				  你必须具有其中一个长项<b><em>Java ,C ,C++ ,PHP ,Rust ,Python。</em></b><br>
				  </p> 
					  
					  <div class="tm-continue">
						<a href="http://wpa.qq.com/msgrd?v=3&uin=1451544363&site=qq&menu=yes" target="_blank" class="tm-intro-text tm-btn-primary">点我加入</a>
					</div>
				</div>
			</div>

		</div>

	</div>
  
</section>

<section id="testimonials" class="tm-section-pad-top tm-parallax-2">      
  <div class="container tm-testimonials-content">
	<div class="row">
	  <div class="col-lg-12 tm-content-box">
		<h2 class="text-white text-center mb-4 tm-section-title">团队情况</h2>
		<p class="mx-auto tm-section-desc text-center">
			没人知道什么时候会成功,但是不努力永远都不会成功。
		  </p>
		<div class="mx-auto tm-gallery-container tm-gallery-container-2">
		  <div class="tm-testimonials-carousel">
			<figure class="tm-testimonial-item">
			  <img src="/static/img/ray.png" alt="Image" width="140" class="img-fluid mx-auto">
			  <blockquote>五年SEO优化经验,PHP老手,负责接口维护</blockquote>
			  <figcaption>Pay</figcaption>
			</figure>

			<figure class="tm-testimonial-item">
			  <img src="/static/img/my.jpg" alt="Image" width="140" class="img-fluid mx-auto">
			  <blockquote>苦逼学生,负责服务器性能监控,新接口开发</blockquote>
			  <figcaption>琦森</figcaption>
			</figure>

			<figure class="tm-testimonial-item">
			  <img src="/static/img/tl.jpg" alt="Image" width="140" class="img-fluid mx-auto">
			  <blockquote>7年Java开发经验,DIYGW站长,幕后技术支持</blockquote>
			  <figcaption>TL</figcaption>
			</figure>
		  </div>
		</div>
	  </div>
	</div>
  </div>
  <div class="tm-bg-overlay"></div>
</section>

<section id="gallery" class="tm-section-pad-top-cg">
  <div class="container tm-container-gallery">
	<div class="row">
	  <div class="text-center col-12">
		  <h2 class="tm-text-primary tm-section-title mb-4">API列表</h2>
		  <p class="mx-auto tm-section-desc">
		  </p>
	  </div>            
	</div>
	<div class="row">
		<div class="col-12">
			<div class="mx-auto tm-gallery-container-cg">
			  <table class="table table-hover">
				<thead>
				  <tr>
				    <th>名称</th>
				    <th>功能</th>
				    <th>请求地址</th>
				    <th>请求方法</th>
				  </tr>
				</thead>
				<tbody>
				  <tr>
				    <td>城市天气</td>
				    <td>获取城市天气</td>
				    <td>http://url</td>
				    <td>GET</td>
				  </tr>
				</tbody>
				</table>
			</div>                
		</div>        
	  </div>
  </div>
</section>
<section id="contact" class="tm-section-pad-top tm-parallax-2">
	<footer class="text-center small tm-footer">
		<p class="mb-0">© 2020-2021 {{ st.Record }} 版权所有</p>
		<p class="mb-0">网站备案/许可证号：{{ st.Record }}</p>
	</footer>
</section>

<script src="/static/js/jquery-1.9.1.min.js"></script>
<script src="/static/slick/slick.min.js"></script>
<script src="/static/magnific-popup/jquery.magnific-popup.min.js"></script>
<script src="/static/js/easing.min.js"></script>
<script src="/static/js/jquery.singlePageNav.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script>

  function getOffSet(){
	var _offset = 450;
	var windowHeight = window.innerHeight;

	if(windowHeight > 500) {
	  _offset = 400;
	} 
	if(windowHeight > 680) {
	  _offset = 300
	}
	if(windowHeight > 830) {
	  _offset = 210;
	}

	return _offset;
  }

  function setParallaxPosition($doc, multiplier, $object){
	var offset = getOffSet();
	var from_top = $doc.scrollTop(),
	  bg_css = 'center ' +(multiplier * from_top - offset) + 'px';
	$object.css({"background-position" : bg_css });
  }

  var background_image_parallax = function($object, multiplier, forceSet){
	multiplier = typeof multiplier !== 'undefined' ? multiplier : 0.5;
	multiplier = 1 - multiplier;
	var $doc = $(document);
	if(forceSet) {
	  setParallaxPosition($doc, multiplier, $object);
	} else {
	  $(window).scroll(function(){          
		setParallaxPosition($doc, multiplier, $object);
	  });
	}
  };

  var background_image_parallax_2 = function($object, multiplier){
	multiplier = typeof multiplier !== 'undefined' ? multiplier : 0.5;
	multiplier = 1 - multiplier;
	var $doc = $(document);
	$object.css({"background-attachment" : "fixed"});
	
	$(window).scroll(function(){
	  if($(window).width() > 768) {
		var firstTop = $object.offset().top,
			pos = $(window).scrollTop(),
			yPos = Math.round((multiplier * (firstTop - pos)) - 186);              

		var bg_css = 'center ' + yPos + 'px';

		$object.css({"background-position" : bg_css });
	  } else {
		$object.css({"background-position" : "center" });
	  }
	});
  };
  
  $(function(){
	background_image_parallax($(".tm-parallax"), 0.30, false);
	background_image_parallax_2($("#contact"), 0.80);   
	background_image_parallax_2($("#testimonials"), 0.80);   
	window.addEventListener('resize', function(){
	  background_image_parallax($(".tm-parallax"), 0.30, true);
	}, true);
	$(window).scroll(function(e){          
	  if($(document).scrollTop() > 120) {
		$('.tm-navbar').addClass("scroll");
	  } else {
		$('.tm-navbar').removeClass("scroll");
	  }
	});

	$("a").on('click', function(event) {
	  if (this.hash !== "") {
		event.preventDefault();
		var hash = this.hash;

		$('html, body').animate({
		  scrollTop: $(hash).offset().top
		}, 600, 'easeInOutExpo', function(){
		  window.location.hash = hash;
		});
	  } // End if
	});

	// Pop up
	$('.tm-gallery').magnificPopup({
	  delegate: 'a',
	  type: 'image',
	  gallery: { enabled: true }
	});

	$('.tm-testimonials-carousel').slick({
	  dots: true,
	  prevArrow: false,
	  nextArrow: false,
	  infinite: false,
	  slidesToShow: 3,
	  slidesToScroll: 1,
	  responsive: [
		{
		  breakpoint: 992,
		  settings: {
			slidesToShow: 2
		  }
		},
		{
		  breakpoint: 768,
		  settings: {
			slidesToShow: 2
		  }
		}, 
		{
		  breakpoint: 480,
		  settings: {
			  slidesToShow: 1
		  }                 
		}
	  ]
	});

	// Gallery
	$('.tm-gallery').slick({
	  dots: true,
	  infinite: false,
	  slidesToShow: 5,
	  slidesToScroll: 2,
	  responsive: [
	  {
		breakpoint: 1199,
		settings: {
		  slidesToShow: 4,
		  slidesToScroll: 2
		}
	  },
	  {
		breakpoint: 991,
		settings: {
		  slidesToShow: 3,
		  slidesToScroll: 2
		}
	  },
	  {
		breakpoint: 767,
		settings: {
		  slidesToShow: 2,
		  slidesToScroll: 1
		}
	  },
	  {
		breakpoint: 480,
		settings: {
		  slidesToShow: 1,
		  slidesToScroll: 1
		}
	  }
	]
	});
  });
</script>
</body>
</html>